.main{
text-align: center;
background: url(https://expo2017astana.com/images/main/pavilions_bg.jpg);
padding: 250px 0;
background-size: cover;
width:100%;
height:100vh;
color: white;
text-shadow: 3px 3px 3px black;
font-size: 32px;
background-attachment: fixed;
}

.main h1:hover, .main h3:hover{
color: rgb(100,100,100);
}
